#pleaseBuyWine {
	padding-top: 5rem;
	text-align: center;
	font-size: 2.5rem;
	color: $color-main;

	cursor: default;
}

.tiersContainer {
	@include centerInContainer;
	flex-wrap: wrap;
	gap: 3rem;

	padding: 7rem clamp(0px, 5vw, 2rem) 10rem clamp(0px, 5vw, 2rem);
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
	background-color: transparent;
	height: 500px;
	width: clamp(150px, 70vw, 300px);
	perspective: 1000px;
	.separator {
		height: 1px;
		width: 80%;
		background-color: rgba(99, 99, 99, 0.425);
		margin: 0.5rem 0px;
	}

	p {
		font-family: Arial, Helvetica, sans-serif;
		letter-spacing: 1px;
		color: rgb(32, 32, 32);
	}
	/* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.8s;
	transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.rotate-card:hover .rotate-inner {
	transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden; /* Safari */
	backface-visibility: hidden;
	box-shadow: 0 5px 9px rgba(0, 0, 0, 0.527);
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
	cursor: default;
	// 	height: 500px;
	// width: 300px;
	height: 500px;
	width: clamp(150px, 70vw, 300px);
	background-color: rgba(255, 255, 255, 0.65);
	@include startCenterColumn;
	gap: 0.5rem;
	transition: 0.2s ease-in-out;
}

// STYLES FOR THE BACK OF THE CARD

.flip-card-back {
	@include centerInContainerColumn;

	p,
	h1 {
		font-family: 'Roboto Slab';
		color: white;
		font-weight: lighter;
	}

	h1 {
		font-size: 3rem;
		span {
			font-size: 1.5rem;
		}
	}
}

// BUTTON FOR THE BACK OF THE CARD

.cardButton {
	@include buttonStyles;
}

// FIRST CARD SPECIFIC STYLE

#firstTierImg {
	background: linear-gradient(#b8d0eb2d),
		url('https://images.unsplash.com/photo-1504279577054-acfeccf8fc52?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1074&q=80');
	@include tierImg;
}

#firstTierText {
	@include tierText;
	background: linear-gradient(
		to right bottom,
		#b8d0eb,
		$light-violet,
		$light-violet
	);
}

#first-card-back {
	background: linear-gradient(to right bottom, #b8d0eb, $light-violet);
	color: white;
	transform: rotateY(180deg);
}

// SECOND CARD SPECIFIC STYLE

#secondTierImg {
	background: linear-gradient(#b298dc1f),
		url('https://images.unsplash.com/photo-1423483641154-5411ec9c0ddf?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=870&q=80');
	@include tierImg;
}
#secondTierText {
	@include tierText;
	background: linear-gradient(
		to right bottom,
		#b298dc,
		$light-violet,
		$light-violet
	);
}

#second-card-back {
	background: linear-gradient(to right bottom, #b298dc, $light-violet);
	color: white;
	transform: rotateY(180deg);
}

// THIRD CARD SPECIFIC STYLE

#thirdTierImg {
	background: linear-gradient(#6152a51f),
		url('https://images.unsplash.com/photo-1544804066-ff04a3f1ab8b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=688&q=80');
	@include tierImg;
}

#thirdTierText {
	@include tierText;
	background: linear-gradient(to right bottom, $light-violet, #2d225e);
}

#third-card-back {
	background: linear-gradient(to right bottom, $light-violet, #2d225e);
	color: white;
	transform: rotateY(180deg);
}
