$color-main: #2d225e;
$light-violet: #6152a5;
$dark-color: #120e25;
$white-color: #ffffff;
$offwhite: darken(white, 10%);
$darkblue: rgb(50, 50, 60);

@mixin iconStyle {
	position: absolute;
	font-size: 2.5rem;
}

@mixin onHover {
	transform: scale(1.2);
	color: $color-main;
}

@mixin centerInContainerColumn {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

@mixin centerInContainer {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin startCenterColumn {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

@mixin tierImg {
	width: 100%;
	height: 40%;
	background-position: center;
	background-size: cover;
	margin-bottom: 1.5rem;
	border-radius: 10px 10px 0 0;
	clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}

@mixin tierText {
	position: absolute;
	bottom: 300px;
	right: 20px;
	font-size: 2rem;
	padding: 0.2rem;
	color: white;
	font-weight: 200;
	font-family: 'Roboto Slab', serif;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}

@mixin buttonStyles {
	padding: 1rem 2rem;
	display: inline-block;
	border-radius: 50px;
	font-size: 1.3rem;
	text-decoration: none;
	background-color: white;
	color: black;
	cursor: pointer;
	margin-top: 2rem;
	transition: 0.2s all;

	&:hover {
		@include onHover;
	}
}

$totalWidth: 100vw;
$totalMargin: 60px;
